{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="{% static 'js/socket.io.min.js' %}"></script>
    <style>
        #messages {
            height: 300px;
            overflow-y: scroll;
            border: 1px solid black;
        }

        .sent-message {
            text-align: right;
            color: blue;
        }

        .received-message {
            text-align: left;
            color: green;
        }
    </style>
</head>

<body>
    <div id="messages"></div>
    <form id="message-form">
        <input type="text" id="message-input" placeholder="Type your message...">
        <button type="submit">Send</button>
    </form>

    <script>
        const socket = io(`${window.location.protocol}//${window.location.hostname}:8001`);

        const messageForm = document.getElementById('message-form');
        const messageInput = document.getElementById('message-input');
        const messagesDiv = document.getElementById('messages');

        messageForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const message = messageInput.value;
            socket.emit('send_message', message);
            addMessageToUI(message, 'sent-message');
            messageInput.value = '';
        });

        socket.on('receive_message', (message) => {
            addMessageToUI(message, 'received-message');
        });

        socket.on('error', (err) => {
            console.error('Error:', err);
        });

        function addMessageToUI(message, className) {
            const messageElement = document.createElement('p');
            messageElement.className = className;
            messageElement.innerText = message;
            messagesDiv.appendChild(messageElement);
            messagesDiv.scrollTop = messagesDiv.scrollHeight;
        }
    </script>
</body>

</html>